@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    --font-1: 'Open Sans', sans-serif;
    --font-2: 'Raleway', sans-serif;

    /* Colors */

    /*-- Primary --*/
    --Dark-Blue-1: hsl(217, 28%, 15%);
    --Dark-Blue-2: hsl(218, 28%, 13%);
    --Dark-Blue-3: hsl(216, 53%, 9%);
    --Dark-Blue-4: hsl(219, 30%, 18%);

    /*-- Accent --*/
    --Cyan: hsl(176, 68%, 64%);
    --Blue: hsl(198, 60%, 50%);
    --Light-Red: hsl(0, 100%, 63%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-family: var(--font-2);
}

a:hover {
    text-decoration: underline;
}

ul li {
    list-style: none;
}

p, blockquote {
    font-family: var(--font-2);
    line-height: 1.5rem;
    letter-spacing: 0.7px;
}

.navbar, h1, h2, h3, h4, h5, button {
    font-family: var(--font-1);
}

/* Utility classes */
.bg-dark {
    background-color: var(--Dark-Blue-4);
}

.bg-dark-2{
    background-color: var(--Dark-Blue-2);
}

.footer-dark {
    background-color: var(--Dark-Blue-3);
}

.text-light {
    color: white;
}

.text-light a {
    color: white;
}

.text-left {
    text-align: left;
}

.flex {
	display: flex;
	flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.flex-row {
    display: flex;
	flex-direction: row;
    align-items: center;
}


/* Header */
header {
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-position: bottom;
    background-size: 100%;
    padding-bottom: 10rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navbar__logo {
    width: 130px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.navbar__menu li a:hover {
    font-weight: 700;
    text-decoration: underline;
}

/* Container */
.container {
    padding: 2rem;
}

.container--header {
    padding-block: 0;
}
.container--header > *, .card-icons > *, .card > *, .container--illustration__info > * {
    margin-block: 1rem;
}

/* Footer */
footer {
    text-align: left;
    padding-top: 10rem;
    margin-top: -150px;
}

/* Cards */
.card {
    text-align: left;
    padding-inline: 2rem;
    border-radius: 7px;
    position: relative;
}

.container--testimonials .card:first-child::before {
    content: '';
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-size: 30px;
    left: 0;
    bottom: 100%;
    position: absolute;
    height: 25px;
    width: 100%;
}

.card__footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__username {
    font-weight: 700;
}

.card__avatar {
    border-radius: 50%;
    width: 40px;
}

.card--1 {
    margin-inline: auto;
    font-size: 12px;
    padding-top: 2rem;
}

.card-dark {
    background-color: var(--Dark-Blue-4);
    color: white;
}

.card--boxcard {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem 3rem;
    position: relative;
}

.header__img, .illustration {
    padding: 1rem;
}

h1 {
    font-size: 30px;
}

/* Buttons */
.btn {
    padding: 15px;
    border-radius: 50px;
    border-style: none;
    color: white;
    font-weight: 700;
    background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
    background-image: linear-gradient(to right, #65e2d9, #339ecc);
    cursor: pointer;
    transition: all 0.4s ease;
    width: 250px;
}

.btn--1:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#65e2d9));
    background-image: linear-gradient(to right, #65e2d9, #65e2d9);
}

.input {
    padding: 15px;
    border-radius: 50px;
    border-style: none;
    font-family: var(--font-2);
    border: 1px solid white;
    width: 100%;
}

.input:focus {
    outline: none;
}

.input-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.input-form .btn {
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--Cyan)!important;
    padding-bottom: 1rem;
}

#text {
    display: block;
    position: relative;
    font-family: var(--font-2);
    text-align: left;
    font-size: 12px;
    color: var(--Light-Red);
    margin-left: 10px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.social-media a {
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.social-media a:hover {
    color: var(--Cyan);
    border-color: var(--Cyan);
}

/* Footer */
footer {
    font-family: var(--font-2);
}

.footer__contact {
    display: grid;
}

.footer__nav {
    display: grid;
    margin-block: 2rem;
}

.footer__pages {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__icon {
    padding-right: 1rem;
}

.footer__pages li, .footer__nav li{
    margin-block: 1rem;
}

@media screen and (min-width: 50em) {
    .flex {
        flex-direction: row;
    }

    .flex > * {
        flex-direction: row;
        flex-basis: 100%;
    }

    .navbar {
        padding: 4rem;
    }

    .navbar__menu {
        gap: 3rem;
    }

    .container {
        padding-inline: 6rem;
    }

    .container--header {
        width: 750px;
        margin-inline: auto;
    }

    .header__img {
        width: 420px;
    }

    .container--icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin-inline: auto;
        column-gap: 3rem;
    }

    .card-icons {
        padding-inline: 2rem;
    }

    .card-icons__title {
        font-size: 18px;
    }

    .card--boxcard {
        max-width: 800px;
        margin-inline: auto;
        font-size: 14px;
    }

    .card--boxcard__title {
        font-size: 28px;
    }

    .container--illustration__title {
        font-size: 36px;
        width: 400px;
    }

    .input {
        width: 70%;
    }

    .input-form {
        flex-direction: row;
        gap: 1.5rem;
    }

    .input-form .btn {
        width: 30%;
    }

    .footer__nav {
        grid-template-columns: 60% 20% 20%;
    }

    .footer__pages {
        flex-direction: row;
    }

    .footer__contact {
        grid-template-columns: 50% 50%;
        gap: 3rem;
    }

    #text {
        position: absolute;
        margin-top: 55px;
    }
}